{{#each this}}
<div class="card">
  <div class="card-img-top">
    <table class="table">
      <tr>
        <td><img src="{{flags.svg}}" alt="{{./name}}" width="40"> </td>
        <td><h2 class="card-title">{{./name}}</h2></td>
      </tr>
    </table>
  </div>
  <div class="card-body">
    <p class="card-text"><b>Capital:</b> {{capital}}</p>
    <p class="card-text"><b>Population:</b> {{population}}</p>
    <p class="card-text"><b>languages:</b> {{#each languages}}  {{./name}}, {{/each}}</p>
  </div>
</div>
    {{/each}}
